.root {
  display: inline-flex;
  align-items: center;
  border-radius: var(--space-4);
  overflow: hidden;

  .label {
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  .labelTextWrapper {
    position: relative;
    background-color: var(--accent-9);
    color: var(--gray-8);
    transition: color 0.6s ease-in-out;
    will-change: color;
    display: block;

    &:before {
      content: '';
      position: absolute;
      inset: 0 -1px;
      background-color: var(--gray-1);
      transition: transform 0.2s ease-in-out;
      will-change: transform;
    }
  }

  .label {
    :checked + .labelTextWrapper {
      color: var(--gray-3);
      &:before {
        transform: translateX(+100%);
      }
    }
  }

  .label:first-child {
    :checked + .labelTextWrapper:before {
      transform: translateX(-100%);
    }
  }

  .labelText {
    position: relative;
    z-index: 2;
    padding: var(--space-3) var(--space-4);
    font-size: var(--font-size-2);
    font-weight: bold;
    white-space: nowrap;
  }
}
