.root {
  display: contents;
  :global(.sash):after {
    content: '';
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    left: 2px;
    background-color: var(--gray-a4);
  }
}

.leftPane {
  margin-right: var(--space-3);
  height: 100%;
  overflow: auto;
}

.rightPane {
  margin-left: var(--space-3);
  height: 100%;
  overflow: auto;
}
