.root {
  cursor: pointer;
  &:hover {
    background-color: var(--amber-a3);
  }

  &.selected {
    background-color: var(--amber-a5);
    font-weight: 600;
  }

  padding: 2px 4px 2px 2px;
  border-radius: 25px 0 0 25px;
}

.iconWrapper {
  flex-shrink: 0;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
