.root {
  width: 100%;
  overflow: auto;
}

.table {
  position: relative;
  td,
  th {
    padding: 0.5em;
  }
}
.tableRow {
  position: relative;
  opacity: 0.5;
  content-visibility: auto;
  contain-intrinsic-size: auto 30px;
}

.radioLabel {
  position: absolute;
  inset: 0;
  cursor: pointer;
  input[type='radio'] {
    position: absolute;
    visibility: hidden;
  }
}

.tableHeader {
  white-space: nowrap;
  position: sticky;
  top: 0;
  background-color: var(--gray-3);
  z-index: 1;
  & th::first-letter {
    text-transform: capitalize;
  }
}

.tableRow:has(input[data-type='row-selector']:checked) {
  background-color: var(--indigo-a2);
  opacity: 0.7;
}
.tableRow:has(input[type='radio']:checked) {
  background-color: var(--accent-6);
  opacity: 1;
}

.tableRow:hover {
  background-color: var(--gray-a3);
  opacity: 1 !important;
}
