.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  height: 100px;
}

.histogram {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.fill {
  background: rgb(64, 86, 94);
  border-radius: 3px 3px 0 0;
  width: 34px;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 10px;
  margin: 0 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.label {
  background-color: var(--gray-12);
  border-top: 1px solid #aaa;
  font-weight: 600;
  padding: 0 4px;
}

.title {
  font-weight: 400;
  font-size: 1.2em;
  color: var(--gray-9);
}
