.mainContentSeparator {
  flex-shrink: 0;
}

.projectTableWrapper {
  flex-grow: 1;
  min-height: 400px;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}

.pinButton {
  position: absolute;
  top: 4px;
  right: 0;
}

.runAnalysisButton {
  border: 1px solid var(--accent-a6);
  min-width: 200px;
  &:disabled {
    border-color: var(--gray-a6);
  }
}
