.modalContent {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  border: 1px solid var(--gray-a7);
  border-radius: var(--space-4);
  background-color: var(--gray-2);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settingList {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.settingItem {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  justify-content: space-between;
}
