html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  .rt-BaseButton {
    --cursor-button: pointer;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* svg {
  width: 1em;
  height: 1em;
  display: block;
} */

/* Radix ui hack to hide inactive tabs */
.rt-TabsContent[data-state='inactive'] {
  display: none;
}

/* [inert],
[inert] {
  opacity: 0.5;
  pointer-events: none;
  cursor: wait;
  user-select: none;
} */

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  border: none;
  background-color: transparent;
}

::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}
