.iconStack {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50%;
  transition: transform 0.3s linear;

  > svg:first-child {
    position: absolute;
    transform-origin: 50% 50%;
    transition: transform 0.2s linear;
    transform: rotate(-90deg);
    transition-delay: 0.1s;
  }
}

.open {
  transform: rotate(180deg);
  > svg:first-child {
    transform: rotate(0deg);
  }
}
