.searchBox {
  max-width: 400px;
}

.headerCell {
  white-space: nowrap;
}

.tableRoot {
  position: relative;
  height: 100%;
  overflow: auto;

  :global(.rt-TableRootTable) {
    overflow: auto;
  }

  :global(.rt-TableRow) {
    paginationControls &:hover {
      background-color: var(--accent-a2);
    }
    &.selected {
      background-color: var(--accent-4);
    }

    white-space: nowrap;
    &:hover {
      background-color: var(--gray-3);
    }
  }

  :global(.rt-TableCell) {
    position: relative;
  }
  :global(.rowCheckBox) {
    position: absolute;
    inset: 0;
  }
}
.tableContainer {
  overflow: auto;
  position: relative;
  height: 100%;
}
.tableHeader {
  position: sticky;
  top: 0;
  background-color: var(--gray-3);
  z-index: 1;
}
