.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  container-type: inline-size;
}

.mapContainer {
  position: relative;
  min-height: 200px;
  aspect-ratio: 16/9;
}

.zoomOutButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.labelToggleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-4);
}

@container (width > 340px) {
  .labelToggleContainer {
    flex-direction: row;
  }
}
