.paginationControls {
  padding: 12px 16px;
  border-top: 1px solid var(--gray-6);
  background-color: var(--gray-2);
}

.modalContent {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  border: 1px solid var(--gray-a7);
  border-radius: var(--space-4);
  background-color: var(--gray-2);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
