.sliderTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-2);
}

.sliderRoot {
  position: relative;
  margin: 0 var(--space-2);

  &:after {
    content: '';

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: var(--space-4);
    background-color: rgba(0, 0, 0, 0.25);
    right: calc(var(--space-2) * -1);
    left: calc(var(--space-2) * -1);
    border-radius: var(--space-4);
    pointer-events: none;
    z-index: -1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5px;
    background-color: var(--accent-3);
    width: 100%;
    left: 0;
    border-radius: 5px;
  }
  .sliderTrack {
    --thumb-size: 12px;
    --thumb-border-size: 2px;
    --thumb-right-offset: calc(
      var(--thumb-size) + var(--thumb-border-size) + var(--thumb-border-size)
    );
    position: absolute;
    height: 5px;
    background-color: var(--accent-a7);
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: calc(var(--value-percentage) * 1%);

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: calc(
        var(--thumb-right-offset) * (-100 + var(--value-percentage)) / 100
      );
      height: var(--thumb-size);
      width: var(--thumb-size);
      background: var(--accent-9);
      border: var(--thumb-border-size) solid var(--gray-12);
      border-radius: 50%;
      transform: translateY(-50%);
    }

    input[type='range']:focus + &::after {
      box-shadow: 0 0 0 4px var(--accent-a8);
    }

    input[type='range']:disabled + & {
      background-color: var(--gray-5);
      &::after {
        background-color: var(--gray-8);
        border-color: var(--gray-10);
      }
    }
  }
  input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 8px 0;
    width: 100%;
    opacity: 0;
    position: relative;
    z-index: 2;
  }

  input[type='range']::-webkit-slider-thumb {
    cursor: grab;
  }

  input[type='range']::-webkit-slider-runnable-track {
    cursor: pointer;
    border: none;
  }

  &.dragging input[type='range']::-webkit-slider-thumb {
    cursor: grabbing;
  }

  input[type='range']:focus {
    &::-webkit-slider-thumb {
      background-color: var(--accent-9);
      border-color: white;
    }
    &::-webkit-slider-runnable-track {
      background-color: black;
    }
  }

  input[type='range']:disabled {
    cursor: default;
    &::-webkit-slider-thumb {
      cursor: default;
      background-color: var(--gray-6);
      border-color: var(--gray-8);
    }
    &::-webkit-slider-runnable-track {
      cursor: default;
    }
  }

  &:has(input[type='range']:disabled) {
    &::before {
      background-color: var(--white-a3);
    }
  }
}
